.btn {

	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all 0.2s;
		position: relative;
		font-size: $default-font;
	}

	&--white {
		background-color: $color-white;
		color: $color-grey-dark;

		&:after {
			background-color: $color-white;
		}
	}

	&--green {
		background-color: $color-primary;
		color: $color-white;

		&:after {
			background-color: $color-primary;
		}
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: $box-shadow;

		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&:active {
		transform: translateY(-2px);
		box-shadow: $box-shadow;
	}

	&:after {
		transition: all 0.4s;
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	&--animated {
		animation: moveInUp 0.5s ease-out 0.75s;
		animation-fill-mode: backwards;
	}

}

.btn-text {

	&:link,
	&:visited {
		color: $color-primary;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid $color-primary;
		padding: 3px;
		font-size: $default-font;
		transition: all 0.2s;
	}

	&:hover {
		color: $color-white;
		background-color: $color-primary;
		box-shadow: $box-shadow;
		transform: translateY(-2px);
	}

	&:active {
		box-shadow: $box-shadow;
		transform: translateY(0px);
	}
}