.section-about {
	background-color: #f7f7f7;
	padding: 25rem 0;
	margin-top: -20rem;
}

.section-features {
	padding: 20rem 0;
	background-image: linear-gradient(rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../../img/nat-4.jpg);
	// height: 95vh;
	background-position: center;
	background-size: cover;
	margin-top: -10rem;
	transform: skewY(-7deg);
	// clip-path: polygon(0% 20vh, 55% 0%, 100% 0%, 100% 85vh, 0% 100%);

	&>* {
		transform: skewY(7deg);
	}
}

.section-tours {
	background-color: #f7f7f7;
	padding: 25rem 0 50rem 0;
	margin-top: -10rem;
}